body {
  font-family: sans-serif;
  margin: 0;
}

.header-icon {
  width: 10%;
  margin: 1rem;
}

.header {
  text-align: center;
  font-size: 5rem;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.model-header {
  margin-block-start: 2rem;
  font-size: 1.5rem;
}

.healy-models {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  font-size: 1.2rem;
}

.healy-models div:hover {
  cursor: pointer;
  color: #555;
}

.healy {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 10px;
}

.healy:hover {
  box-shadow: 0 0 5px 0;
}

.active {
  color: purple;
}

#search-ctn {
  position: relative;
  display: inline-flex;
  align-items: center;
}

#search-ctn i {
  position: absolute;
  right: 12px;
  font-size: 1.2rem;
  color: #222;
}

#search {
  border-radius: 50px;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.data-ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.prog-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 10rem;
  height: 13rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px;
  transition: box-shadow 0.5s ease-in-out;
}

.prog-card:hover {
  box-shadow: 0px 0px 20px 0px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.prog-card img {
  width: 100%;
}

.modal-body {
  position: fixed;
  top: 10%;
  background-color: white;
  border: 3px solid #333;
  border-radius: 15px;
}

.modal-body div {
  position: relative;
}

.modal-body i {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.modal-body img {
  width: 100%;
  height: 85%;
  margin: 2.5rem 0;
}

@media (max-width: 768px) {
  .healy-models {
    flex-direction: column;
    margin: 1rem;
  }

  .healy-models div {
    margin: 1rem;
  }

  .healy-models div:hover {
    color: purple;
  }

  .prog-card {
    width: 7rem;
    height: 10rem;
  }
}

@media (max-width: 425px) {
  .header-icon {
    width: 15%;
  }

  .header {
    font-size: 4rem;
  }

  .data-ctn {
    margin: 2rem 0;
  }

  .prog-card {
    margin: 1rem 0;
    width: 5rem;
    height: 7rem;
  }
}